.correspondense {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.wrapper {
    padding: 10px;
}

.active {
    text-decoration: underline;
    color: gold;
}

.item {

}

.messages {
    padding: 10px;
}

.message {

}

a {
    text-align: none;
    color: black;
}

.toWriteMessageTextareaButton {
    display: flex;
    flex-direction: column;
    width: 197px;
}

.toWriteMessageTextareaButton button {
    margin-top: 15px;
}