* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px; }

.header {
  background: #3b5999;
  width: 100%;
  height: 45px; }
  .header .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .header .container .isLogin_wrapper {
      width: 100%;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .container .isLogin_wrapper .imgg {
        width: 33px;
        height: 33px;
        background: url("images/vk.jpg") no-repeat center;
        background-size: cover;
        border-radius: 5px; }
      .header .container .isLogin_wrapper .login_block {
        width: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header .container .isLogin_wrapper .login_block span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #fff; }
        .header .container .isLogin_wrapper .login_block .login_word {
          position: absolute;
          right: 0px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .header .container .isLogin_wrapper .login_block .header_photo {
          width: 25px;
          height: 25px;
          border-radius: 50%; }
          .header .container .isLogin_wrapper .login_block .header_photo .thePhoto {
            width: 100%;
            height: 100%; }
            .header .container .isLogin_wrapper .login_block .header_photo .thePhoto img {
              width: 100%;
              height: 100%;
              border-radius: 50%; }
        .header .container .isLogin_wrapper .login_block button, .header .container .isLogin_wrapper .login_block .login_word {
          width: 100px;
          height: 30px;
          border: none;
          cursor: pointer;
          background: #5281b7;
          border-radius: 3px;
          color: #fff;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .header .container .isLogin_wrapper .login_block button:hover, .header .container .isLogin_wrapper .login_block .login_word:hover {
            background: #719cce; }

body {
  background: #EAEBEF; }
  body .container .formSettingsWrapper {
    width: 100%;
    margin-top: 30px;
    padding: 20px 40px 40px;
    background: #fff;
    border-radius: 5px; }
    body .container .formSettingsWrapper .accountOptions {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold; }
    body .container .formSettingsWrapper .settingsWrapper {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .container .formSettingsWrapper .settingsWrapper .yourName {
        width: 100%; }
        body .container .formSettingsWrapper .settingsWrapper .yourName form {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          margin-top: 20px; }
          body .container .formSettingsWrapper .settingsWrapper .yourName form .settingsSingleForm {
            width: 100%;
            margin-top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            body .container .formSettingsWrapper .settingsWrapper .yourName form .settingsSingleForm div {
              width: 100%; }
            body .container .formSettingsWrapper .settingsWrapper .yourName form .settingsSingleForm .formControlWrapper.error .formControl {
              border: 1px solid red !important; }
            body .container .formSettingsWrapper .settingsWrapper .yourName form .settingsSingleForm .formControlWrapper .formControl {
              width: 400px;
              height: 50px;
              background: #fff;
              border-radius: 5px;
              border: 1px solid #c5c5c58c;
              margin-top: 10px; }
              body .container .formSettingsWrapper .settingsWrapper .yourName form .settingsSingleForm .formControlWrapper .formControl input {
                width: 100%;
                height: 100%;
                padding: 20px;
                border: none;
                background: none;
                outline: none; }
          body .container .formSettingsWrapper .settingsWrapper .yourName form .submitWrapper {
            width: 400px;
            height: 50px;
            margin-top: 20px; }
            body .container .formSettingsWrapper .settingsWrapper .yourName form .submitWrapper button {
              width: 100%;
              height: 30px;
              border: none;
              cursor: pointer;
              background: #5281b7;
              border-radius: 3px;
              color: #fff;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s;
              outline: none; }
  body .container .nav_wrapper {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 20px; }
    body .container .nav_wrapper .nav .menuActive {
      background: #fff; }
    body .container .nav_wrapper .nickname {
      padding-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .container .nav_wrapper .nickname span {
        margin-top: 10px; }
      body .container .nav_wrapper .nickname .check_mark {
        width: 15px;
        height: 15px;
        background: url(images/check_mark.png) no-repeat center;
        background-size: cover;
        margin-top: 11px;
        margin-left: 9px; }
    body .container .nav_wrapper div img {
      width: 150px;
      border-radius: 5px; }
    body .container .nav_wrapper nav {
      width: 100%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 30px; }
      body .container .nav_wrapper nav div {
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 3px;
        padding-left: 11px;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        body .container .nav_wrapper nav div:hover {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          background: #fff; }
        body .container .nav_wrapper nav div a {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          body .container .nav_wrapper nav div a:hover {
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
  body .container .formLoginWrapper {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    body .container .formLoginWrapper form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .container .formLoginWrapper form div {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .container .formLoginWrapper form div .formControl {
          width: 250px;
          height: 35px;
          background: #fff;
          border-radius: 5px;
          border: 1px solid #c5c5c58c;
          margin-top: 10px; }
          body .container .formLoginWrapper form div .formControl input {
            height: 100%;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            padding-left: 15px; }
      body .container .formLoginWrapper form div:nth-child(3) {
        width: 250px;
        margin-top: 10px; }
        body .container .formLoginWrapper form div:nth-child(3) button {
          width: 100%;
          height: 30px;
          border: none;
          cursor: pointer;
          background: #5281b7;
          border-radius: 3px;
          color: #fff;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
  body .usersContainer {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body .usersContainer .string {
      background: #0000001a;
      height: 1px;
      width: 95%;
      margin: 0 auto;
      margin-top: 20px; }
    body .usersContainer .wrapper {
      width: 250px;
      margin-top: 40px; }
      body .usersContainer .wrapper .breakdown {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        body .usersContainer .wrapper .breakdown img {
          width: 200px; }
        body .usersContainer .wrapper .breakdown button {
          margin-top: 10px; }
    body .usersContainer .paginatorContainer {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 15px;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      body .usersContainer .paginatorContainer button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none; }
      body .usersContainer .paginatorContainer .selectedPage {
        margin: 0 10px;
        color: #5281b7; }
      body .usersContainer .paginatorContainer .unselected_page {
        margin: 0 10px;
        cursor: pointer; }
  body .profile_wrapper {
    width: 83%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .profile_wrapper .myPosts_wrapper {
      width: 100%;
      margin-top: 10px;
      background: #fff;
      border-radius: 5px;
      padding-bottom: 20px; }
      body .profile_wrapper .myPosts_wrapper .messageTitle {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 25px;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;
        font-weight: bold; }
      body .profile_wrapper .myPosts_wrapper .string {
        background: #0000001a;
        height: 1px;
        width: 95%;
        margin: 0 auto;
        margin-top: 20px; }
      body .profile_wrapper .myPosts_wrapper .formWrapper {
        width: 100%;
        margin-top: 30px;
        padding: 0 40px; }
        body .profile_wrapper .myPosts_wrapper .formWrapper form button {
          border: none;
          background: #5281b7;
          width: 44%;
          height: 27px;
          border-radius: 5px;
          margin: 0 auto;
          margin-top: 5px;
          color: #fff;
          font-size: 14px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          body .profile_wrapper .myPosts_wrapper .formWrapper form button:hover {
            cursor: pointer;
            background: #6ca4e4;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
        body .profile_wrapper .myPosts_wrapper .formWrapper form .formControlWrapper {
          width: 100%; }
          body .profile_wrapper .myPosts_wrapper .formWrapper form .formControlWrapper .formControl textarea {
            width: 100%;
            resize: vertical;
            padding: 15px 0px 0px 15px;
            border: 1px solid #3b5999;
            border-radius: 5px;
            margin: 0px;
            height: 52px; }
            body .profile_wrapper .myPosts_wrapper .formWrapper form .formControlWrapper .formControl textarea.error {
              border-color: red; }
          body .profile_wrapper .myPosts_wrapper .formWrapper form .formControlWrapper .formError {
            color: red; }
    body .profile_wrapper .profile_info {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .profile_wrapper .profile_info .wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        body .profile_wrapper .profile_info .wrapper .place_for_photo {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          body .profile_wrapper .profile_info .wrapper .place_for_photo .thePhoto {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 5px; }
            body .profile_wrapper .profile_info .wrapper .place_for_photo .thePhoto img {
              width: 100%;
              -o-object-fit: cover;
              object-fit: cover;
              -o-object-position: 0 -118px;
              object-position: 0 -118px;
              border-radius: 5px; }
            body .profile_wrapper .profile_info .wrapper .place_for_photo .thePhoto input {
              display: none; }
        body .profile_wrapper .profile_info .wrapper .string {
          background: #0000001a;
          height: 1px;
          width: 95%;
          margin: 0 auto;
          margin-top: 20px; }
        body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper {
          padding: 30px 0;
          width: 100%;
          background: #fff;
          margin-top: 10px;
          border-radius: 5px; }
          body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .full_name {
            text-align: center;
            font-size: 24px; }
          body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .contacts_inner {
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-size: 25px;
            font-weight: bold; }
          body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .contacts {
            margin-top: 20px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .contacts .social_networks_wrapper {
              width: 40%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column; }
              body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .contacts .social_networks_wrapper .network {
                height: 35px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch; }
                body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .contacts .social_networks_wrapper .network span {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  width: 110px; }
          body .profile_wrapper .profile_info .wrapper .your_profiles_wrapper .searching_for_work {
            margin-top: 20px;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
        body .profile_wrapper .profile_info .wrapper .sliderWrapper {
          margin-top: 10px;
          width: 100%;
          height: 330px;
          background: #fff;
          border-radius: 5px; }
          body .profile_wrapper .profile_info .wrapper .sliderWrapper .myWorksTitle {
            margin-top: 25px;
            font-size: 30px;
            padding-left: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-weight: bold; }
          body .profile_wrapper .profile_info .wrapper .sliderWrapper .fancyBoxPassive {
            width: 100%;
            height: 100%;
            display: none; }
          body .profile_wrapper .profile_info .wrapper .sliderWrapper .fancyBoxActive {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 50;
            background: rgba(0, 0, 0, 0.31);
            top: 0;
            left: 0; }
            body .profile_wrapper .profile_info .wrapper .sliderWrapper .fancyBoxActive .fancyBoxFlexWrapper {
              width: 100%;
              height: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; }
              body .profile_wrapper .profile_info .wrapper .sliderWrapper .fancyBoxActive .fancyBoxFlexWrapper img {
                width: 50%; }
        body .profile_wrapper .profile_info .wrapper .slick-slider .slick-arrow.slick-prev, body .profile_wrapper .profile_info .wrapper .slick-slider .slick-arrow.slick-next {
          top: 60% !important; }
        body .profile_wrapper .profile_info .wrapper .fancySliderPicture {
          width: 100%;
          margin-top: 50px;
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          body .profile_wrapper .profile_info .wrapper .fancySliderPicture .thePicture {
            width: 95%;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            position: relative; }
            body .profile_wrapper .profile_info .wrapper .fancySliderPicture .thePicture img {
              width: 100%;
              -o-object-fit: cover;
              object-fit: cover;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              body .profile_wrapper .profile_info .wrapper .fancySliderPicture .thePicture img:hover {
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                width: 140%;
                position: relative;
                z-index: 2;
                margin-top: -40px;
                margin-left: -65px;
                -webkit-box-shadow: 1px 1px 15px black;
                box-shadow: 1px 1px 15px black;
                cursor: pointer;
                background: url("images/my_work_hover.png") no-repeat center;
                background-size: cover;
                -webkit-animation: myWorkHover .5s linear;
                animation: myWorkHover .5s linear; }
  body .myPosts_wrapper .singlePost {
    margin-top: 10px;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%; }
    body .myPosts_wrapper .singlePost .likesWrapper .likes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 50px; }
      body .myPosts_wrapper .singlePost .likesWrapper .likes .img {
        width: 20px;
        height: 20px;
        background: url("images/like.png") no-repeat center;
        background-size: cover; }

@-webkit-keyframes myWorkHover {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes myWorkHover {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
